@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.grid {
    display: grid;
}

.grid-cols-32 {
    grid-template-columns: repeat(32, minmax(0, 1fr));
}

.gap-1 {
    gap: 1px;
}

.gap-0 {
    gap: 0px;
}
.grid {
    border: 1px solid white;
}
.grid > div:nth-last-child(-n + 32) {
    border-bottom: 1px solid white;
}
